/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Site styles **/

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'PT Serif', serif;
	background: linear-gradient(#fff3df 25em, #ffffef);
	color: #402020;
	min-height: 100vh;
}

article,
section {
	margin-top: 1em;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a, a:active {
	color: #da004d;
}

strong {
	font-weight: bolder;
}

p {
	margin-top: 1em;
	line-height: 1.5em;
}

nav,
h1, h2, h3, h4 {
	font-family: 'Bebas Neue', sans-serif;
	color: #da004d;
}

/** Main container **/

#main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.content-wrap {
	font-size: calc(12px + 1vw);
	width: 35em;
}

#main h1 {
	font-size: calc(36px + 1vw);
}
#main h2 {
	font-size: calc(36px + 1vw);
}
#main h3 {
	font-size: calc(24px + 1vw);
}
#main h4 {
	color: inherit;
	font-size: calc(18px + 0.5vw);
}

#main > article {
	padding-bottom: 3em;
}
#main > header {
	font-size: 24px;
}
#main > footer {
	font-size: 14px;
	padding: 5em 0 1.5em;
}
#main > .content {
	flex: 1;
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #000000;
	color: #da004d;
	font-family: sans-serif;
	padding: .5em 0;
}

#footer small {
	font-size: 12px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

nav {
	display: flex;
	padding: .5em 0;
	justify-content: space-between;
}

nav > a {
	display: inline-block;
	margin-right: 2em;
}

.post-list li {
	display: flex;
	margin-bottom: .5em;
}
.post-list li > .publish-date {
	flex-basis: 6.5em;
}
.post-list li > a {
	flex: 1;
}

/** Post styles **/

.post {}

.post aside {
	display: none;
}

.post h1,
.post h2,
.post h3,
.post h4 {
	margin-top: 1em;
}

.post p,
.post aside,
.post ul,
.post ol {
	max-width: 35em;
}

.post ol,
.post ul {
	margin-top: 1em;
}

.post ol {
	counter-reset: li;
}
.post ol > li {
	display: flex;
	line-height: 1.5em;
}
.post ol > li:before {
	display: inline-block;
	margin-right: 1rem;
	content: counter(li) ".";
	counter-increment: li;
	font-weight: bold;
	font-style: italic;
}

.post ul {
	list-style: disc;
}
.post ul > li {
	line-height: 1.5rem;
	margin-left: 1rem;
}

.post li {
	line-height: 1em;
	margin-bottom: .25em;
}

.post footer {
	margin-top: 1.5em;
}
.post .publish-date {
	font-size: 12px;
	line-height: 1.5em;
}

.post .content > p:first-of-type {
	margin-top: 3em;
	text-indent: 2em;
}

.post hr {
	width: 33%;
	height: 0.5em;
	background: #da004d08;
	border: 0;
	margin: 1em auto 0;
}

.post img {
	box-shadow: 1em -.5em 1em #fff;
	margin-left: -10%;
	margin-top: 1em;
}

.post sup {
	font-size: 75%;
	position: relative;
	top: -.5em;
}

.post blockquote {
	padding-left: 1em;
	border-left: 0.5em solid #da004d08;
}

.content img {
	max-width: 100%;
}
.content img:after {
	content: attr(alt);
	font-size: 0.8em;
}

.post i,
.post em {
	font-style: italic;
}

.post h2,
.post h3 {
	font-weight: bolder;
}

.post .highlight {
	overflow-x: scroll;
	padding: .5rem 1rem;
	margin-top: 1rem;
}

.post code {
  font-family: monospace;
	font-size: 0.8em;
}

.publish-date {}

#toc, #toc ul {
  list-style: none;
} #toc > .toc-entry {
  margin-left: 0;
}

.toc-h3,
.toc-h4 {
	margin-left: 1rem;
}
.toc-entry {
	margin-top: 0.5rem;
	margin-left: 0;
}
.toc-entry ul {
	margin-top: 0;
}

/** Overrides **/

/** Responsive **/

@media only screen and (max-width: 350px) {
	body {
		align-items: flex-start;
		margin: 1em;
	}

	#main {
		width: 15em;
		min-width: 15em;
	}
}

@media only screen and (max-width: 720px) {
	#main {
		width: 20em;
	}
}

/* Prevent exceeding 18px base font-size */
@media only screen and (min-width: 600px) {
	.content-wrap {
		font-size: 18px;
	}

	#main h1 {
		font-size: calc(42px);
	}
	#main h2 {
		font-size: calc(30px);
	}
	#main h3 {
		font-size: calc(26px);
	}
}
