/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Site styles **/

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	background-color: #fff;
}

article,
section {
	margin-top: 1em;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

strong {
	font-weight: bolder;
}

p {
	margin-top: 1em;
	line-height: 1.5em;
}

nav,
h1, h2, h3 {
	/* font-family: 'Crimson Text'; */
}

/** Main container **/

#main {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: calc(12px + 1vw);
	width: 35em;
}

#main h1 {
	font-size: calc(36px + 1vw);
}
#main h2 {
	font-size: calc(24px + 1vw);
}
#main h3 {
	font-size: calc(20px + 1vw);
}

#main > header {
	font-size: 24px;
}
#main > footer {
	font-size: 14px;
	padding: 5em 0 1.5em;
}
#main > .content {
	flex: 1;
}

nav {
	display: flex;
	padding: .5em 0;
	justify-content: space-between;
}

nav > a {
	display: inline-block;
	margin-right: 2em;
}

.post-list li {
	display: flex;
	margin-bottom: .25em;
}
.post-list li > .publish-date {
	flex-basis: 6.5em;
}
.post-list li > a {
	flex: 1;
}

/** Post styles **/

.post {}

.post aside {
	display: none;
}

.post h1,
.post h2,
.post h3 {
	margin-top: 1em;
}

.post hr {
	display: none;
}

.post p,
.post aside,
.post ul,
.post ol {
	max-width: 35em;
}

.post ol,
.post ul {
	margin-top: 1em;
}

.post ol {
	counter-reset: li;
}
.post ol > li:before {
	content: counter(li) ".";
	counter-increment: li;
}

.post li {
	line-height: 1em;
	margin-bottom: .25em;
}

.post footer {
	margin-top: 1.5em;
}
.post .publish-date {
	font-size: 12px;
}

.content img {
	max-width: 100%;
}
.content img:after {
	content: attr(alt);
	font-size: 0.8em;
}

.post i,
.post em {
	font-style: italic;
}

.post h2,
.post h3 {
	font-weight: bolder;
}

.post .highlight {
	overflow-x: scroll;
}

.publish-date {}

/** Overrides **/

/** Responsive **/

@media only screen and (max-width: 700px) {
	#main {
		width: 20em;
	}
}

@media only screen and (max-width: 350px) {
	body {
		align-items: flex-start;
		margin: 1em;
	}

	#main {
		width: 15em;
		min-width: 15em;
	}
}
