/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Site styles **/

html, body {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: "ff-meta-web-pro", Verdana, Arial, sans-serif;
}

/** General styles **/

a {
	border-bottom: 2px solid #dedede;
	color: #000;
	text-decoration: none;
	display: inline-block;
	line-height: 18px;
	margin-bottom: 2px;
}
a:hover {
	border-color: #e3bd29;
}

strong {
	font-weight: bolder;
}

p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

/** Sidebar **/

#sidebar {
	-webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 240px;
	bottom: 0px;
	z-index: 1;
}

/** Main container **/

#main {
	background: #f9f8f7;
	margin: 0 auto;
	min-height: 100%;
	max-width: 1060px;
	position: relative;
} #main > header {
	font-size: 24px;
} #main > header a {
	border: none;
	color: #484848;
	display: block;
	text-decoration: none;
	padding: 1.0em 0;
}

.right-rail {
	position: fixed;
	background: #f9f8f7;
	top: 0px;
	right: 0px;
	left: 50%;
	bottom: 0px;
	z-index: -1;
}

#main .indent {
	padding-left: 275px;
}

#main nav {
	overflow: hidden;
}
#main nav a {
	display: block;
	float: left;
	letter-spacing: 1px;
	margin-right: 50px;
} #main nav a.page {
	color: #E3BD29;
	font-family: "adobe-garamond-pro", Garamond, "Times New Roman", Georgia, serif;
	font-style: italic;
	letter-spacing: 2px;
}

/** Post styles **/

.post {
	color: #646464;
	border-top: 1px solid #e6e5e4;
	font-size: 16px;
	position: relative;
}

.post ol {
	counter-reset: li;
}
.post ol > li {
	position: relative;
	margin-left: 35px;
}
.post ol > li:before {
	content: counter(li) ".";
	counter-increment: li;
	position: absolute;
	left: -35px;
	color: #E3BD29;
	font-family: "adobe-garamond-pro", Garamond, "Times New Roman", Georgia, serif;
	font-style: italic;
	font-size: 1.4em;
}

.post ul > li {
	position: relative;
	margin-left: 20px;
}
.post ul > li:before {
	content: " ";
	position: absolute;
	left: -20px;
	top: 0.25em;
	height: 1.0em;
	border-left: 3px solid #E3BD29;
}

.post li {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.content img {
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	background: white;
	padding: 5px;
	max-width: 100%;
}
.content img:after {
	content: attr(alt);
	font-size: 0.8em;
}

.film .content img {
	-webkit-transition: margin-left 250ms ease-in-out, max-width 250ms ease-in-out;
	-moz-transition: margin-left 250ms ease-in-out, max-width 250ms ease-in-out;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	max-width: 815px;
	margin-left: -65px;
	padding: 0;
	position: relative;
	z-index: 1;
}

.post header {
	max-width: 750px;
	padding-top: 35px;
} .post-title {
	margin: 0 0 15px;
} .post-permalink {
	border: none;
	color: inherit;
	display: block;
	color: #3b3b3b;
	font-size: 60px;
	line-height: 65px;
	font-weight: bolder;
	letter-spacing: -1px;
}
.post .content {
	padding: 25px 0;
}

.post i,
.post em {
	font-style: italic;
}

.post p,
.post .comments,
.post li {
	max-width: 530px;
	padding-right: 20px;
}
.post h2, 
.post h3, 
.post h4 {
	margin: 3.0em 0 1.0em;
}
.post h2 {
	color: #e3bd29;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 1px;
}
.post h3,
.post-group h3 {
	font-weight: bolder;
	letter-spacing: 1px;
	margin: 0 0 1.0em;
}

.post blockquote {
	margin-top: 30px;
	padding: 15px 30px 15px 70px;
	max-width: 430px;
	position: relative;
}
.post blockquote:before {
	content: "\201C";
	font: 140px bolder "adobe-garamond-pro", Garamond, "Times New Roman", Georgia, serif;
	color: #E3BD29;
	position: absolute;
	left: 0px;
	top: -30px;
	opacity: 0.5;
}
.post blockquote p {
	font: 20px/30px "adobe-garamond-pro", Garamond, "Times New Roman", Georgia, serif;
	font-style: italic;
}
.post blockquote em {
	color: #444;
	text-decoration: underline;
}

.post hr {
	width: 100px;
	margin: 50px 0 30px 215px;
	border: 2px solid #E3BD29;
	opacity: 0.5;
}

.post .comments {
	border-top: 1px solid #e6e5e4;
	margin-top: 3.0em;
	padding-top: 1.0em;
}

.post .highlight {
	overflow-x: scroll;
}

.post aside {
	color: rgb(170,170,170);
	left: -95px;
	width: 250px;
	font-weight: lighter;
	line-height: 1.5em;
} .post aside a {
	display: inline;
	line-height: inherit;
}

.post-options {
	position: absolute;
	right: 30px;
	top: -68px;
	line-height: 68px;
}

.publish-date {
	color: #e3bd29;
	font-family: "adobe-garamond-pro", Garamond, "Times New Roman", Georgia, serif;
	font-style: italic;
	text-align: left;
	text-shadow: 0 0 5px white;
	text-transform: lowercase;
	letter-spacing: 2px;
	z-index: 1;
}

.post > .publish-date {
	margin-top: 15px;
}

.post-list li {
	margin-bottom: 0.75em;
	position: relative;
} .post-list .publish-date {
	margin-left: 15px;
}

.profile-pic {
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	width: 80px;
	height: 80px;
}

aside {
	font-size: 12px;
	padding-left: 20px;
	position: absolute;
	left: 0px;
	width: 180px;
	z-index: 1;
}
aside p {
	margin-bottom: 5px;
}
aside .profile-pic {
	position: absolute;
	right: -80px;
}

aside#about {
	top: 200px;
}

/* Overrides */

.post.comic h2 {
	margin-top: 1.0em;
}

.yellow {
	color: #e3bd29;
}

#about .section {
	margin-bottom: 30px;
}
#about .section-heading {
	font-family: "adobe-garamond-pro", Garamond, "Times New Roman", Georgia, serif;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
#about .stats li {
	overflow: hidden;
	margin-bottom: 10px;
}
#about .stats label {
	color: #aaa;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 9px;
	margin-top: 3px;
}
#about .stats .entry-value {
	display: block;
	text-align: left;
	margin-right: 30px;
	border-bottom: 1px solid #cdcdcd;
}
#about .sightings {
	clear: left;
}
#about .sightings li {
	content: "\00B7";
}

#about .stats .ttam label::after {
	content: '*';
	color: #e3bd29;
}

#about.solo {
	float: left;
	width: 530px;
	position: relative;
}

#about.solo .section  {
	float: left;
	width: 50%;
}

#about.solo .profile-pic {
	display: block;
	margin-bottom: 2.0em;
} #about.solo footer {
	color: #888;
	font-size: 12px;
}

#bio {
	float: left;
	max-width: 550px;
	margin-top: 35px;
	padding-right: 50px;
}

#main > footer {
	clear: both;
	color: #cccccc;
	font-size: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.highlight {
	font-family: 'ubuntu-mono', monospace;
	padding: 1.0em 0 1.0em 35px;
	margin: 0 0 1.5em -35px;
	max-width: 750px;
}

.hero {
	display: block;
	width: 1020px;
	margin-bottom: 50px;
	position: relative;
}

.post .hero {
	left: -200px;
}

.hero-header {
	position: relative;
	height: 265px;
	margin: 0 -35px 0;
	padding: 35px 35px 0;

	background: black;
} .hero-header .hero {
	position: absolute;
	top: 0px;
	z-index: 0;
	opacity: 0.7;
} 
.hero-header .post-permalink, 
.hero-header .publish-date {
	position: relative;
	z-index: 1;

	color: white;
	text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

/** Responsive **/

@media only screen and (max-width: 1250px) {
	.post aside {
		left: 0px;
		width: 200px;
		font-size: 10px;
	}

	.film .content img {
		margin-left: -35px;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

@media only screen and (max-width: 900px) { 
	.film .content img {
		max-width: 100%;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#sidebar {
		display: none;
	}

	#main .indent {
		padding-left: 30px;
	}

	.post aside {
		position: relative;
		max-width: 530px;
		width: auto;
		left: 0px;
		padding-left: 0px;
		padding-right: 20px;
	}

	.film .content img {
		margin-left: 0px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px),
	   only screen and (max-device-width: 479px) {

	#main {
		padding-left: 0;
	}

	#sidebar,
	#right-sidebar,
	#about:not(.solo) { display: none; }

	#main > header {
		font-size: 16px;
	}

	.hero {
		height: auto;
		width: 130%;
		left: -15%;
	}
	.hero-header {
		height: auto;
		padding: 0;
	} .hero-header .hero {
		position: relative;
		margin-bottom: 0;
	}

	.post-list a {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 90%;
	}

	.post {
		font-size: 14px;
	}

	.post blockquote:before {
		font-size: 80px;
	}
	.post blockquote {
		padding-left: 40px
	}
	.post blockquote p {
		font-size: 16px;
		line-height: 20px;
	}

	.post hr {
		margin: 30px auto;
	}

	.post-title {
		position: absolute;
		top: 20px;
		left: 35px;
	}

	.post-permalink {
		font-size: 24px;
		line-height: 26px;
	}

	.post h2 {
		font-size: 16px;
	}

	.post .highlight {
		margin: 0 -25px 1.5em -30px;
		padding: 1.0em 25px 1.0em 30px;
	}

	.publish-date {
		padding: 10px 35px;
	}

	#bio {
		padding-right: 30px;
	}

}

