---
layout: default
---

<article class="post indent {{ page.type }}">

  <header>
    <h1 class="post-title">
      <a class="post-permalink" href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
    </h1>
  </header>

  <section class="content">

    {{ content }}

  </section>

  <footer>
    <div class="publish-date">
      Originally published {{ page.date | date: '%Y-%m-%d' }}.<br>
      {% for update in page.updates %}
      Updated ({{ update.date | date: '%Y-%m-%d' }}): {{ update.comment }}<br>
      {% endfor %}
    </div>
  </footer>

</article>
